.code-container {
    position: relative;
}

.code-container > code {
    position: absolute;
    left: 0;
    right: 0;
    font-family: var(--monospace);
}

.highlighter {
    position: absolute;
    left: 0;
    padding-left: inherit;
    min-width: 100%;
    background-color: #ffff0033;
}

.error {
    position: absolute;
    left: 0;
    right: 0;
    white-space: break-spaces;
}
