th.header:first-child {
    padding-right: .5rem;
    text-align: right;
}

td.signal, td.signal + td {
    font-family: 'Courier New', Courier, monospace;
}

td.signal {
    font-weight: bold;
    padding-right: .5rem;
    text-align: right;
}

tr.highlight {
    background-color: var(--memory-bg-instruction);
}
