th.header:first-child {
    padding-right: .5rem;
    text-align: right;
}

td.signal {
    padding-right: .5rem;
    text-align: right;
}

tr.highlight {
    background-color: var(--memory-bg-instruction);
}
