span.encoding {
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    font-size: 1.2rem;
}

span.encoding:hover::after {
    content: attr(data-label);
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 0.25rem;
    border-radius: .25rem;
    color: white;
    bottom: 100%;
    left: 0;
}

span.register {
    color: rgb(243, 172, 105);
}

span.opcode {
    color: rgb(200, 111, 223);
}

span.immediate {
    color: rgb(105, 243, 128);
}