html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    box-sizing: border-box;
    background-color: var(--bg-primary);
    color: var(--text-color);
}

#__next {
    height: 100%;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

.diagram-component {
    width: 100%;
    height: 600px;
    background-color: white;
}

:root {
    --bg-primary: #252526;
    --bg-secondary: #333333;
    --text-color: #dedede;
    --text-highlight: #ffff00;
    --text-color-unscoped: #bebebe;
    --sp-color: #f15a5a;
    --primary-frame: #4040cb;
    --secondary-frame: #6a6af1;
    --primary-frame-bg: #4040cb44;
    --secondary-frame-bg: #6a6af144;
    --memory-bg-text: #6ac4f144;
    --memory-bg-data: #6af1ec44;
    --memory-bg-bss: #81f16a44;
}