.container {
    padding: .5rem;
    display: flex;
    height: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.row {
    display: flex;
    flex-direction: row;
}

.grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;
}

.card {
    display: flex;
    flex-direction: column;
    margin: .4rem;
    padding: 1rem;
    text-align: left;
    color: inherit;
    background-color: var(--bg-secondary);
}

.card.fix {
    flex-direction: row;
    height: max-content;
}

.card:only-child {
    height: 100%;
}

.expand {
    flex-grow: 1;
}

.card h2 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
}
