table.memory {
    border-collapse: collapse;
}

tr.block {
    font-family: 'Courier New', Courier, monospace;
}

th.header, tr.spacer > td {
    text-align: center;
}

tr.spacer > td:last-child {
    border-top: 1px solid var(--text-color);
    border-bottom: 1px solid var(--text-color);
}

td.addr {
    padding-right: 6px;
}

tr.block:first-child td.value {
    border-top: 1px solid var(--text-color);
}

tr.block:last-child td.value {
    border-bottom: 1px solid var(--text-color);
}

td.value:nth-child(2) {
    border-left: 1px solid var(--text-color);
}

td.value:last-child {
    border-right: 1px solid var(--text-color);
}

td.value.frame-start-primary {
    border-top: 1px solid var(--primary-frame) !important;
    border-right: 1px solid var(--primary-frame) !important;
}

td.value.frame-start {
    border-top: 1px solid var(--secondary-frame) !important;
    border-right: 1px solid var(--secondary-frame) !important;
}

td.value.frame-start-primary ~ td.value {
    border-bottom: 1px solid var(--primary-frame) !important;
}

td.value.frame-start ~ td.value {
    border-bottom: 1px solid var(--secondary-frame) !important;
}

td.value.frame-boundary-primary {
    border-top: 1px solid var(--primary-frame) !important;
}

td.value.frame-boundary {
    border-top: 1px solid var(--secondary-frame) !important;
}

td.value.unscoped {
    color: var(--text-color-unscoped);
}
