tr.block {
    font-family: 'Courier New', Courier, monospace;
}

td.sp {
    color: var(--sp-color);
}

tr.spacer > td {
    text-align: center;
}

tr.spacer > td:last-child {
    border-left: 1px solid var(--text-color);
    border-right: 1px solid var(--text-color);
}

td.addr {
    position: relative;
    text-align: center;
}

td.addr:hover > div, td.value:hover > div {
    display: block;
}

td.value {
    position: relative;
    text-align: center;
}

tr.block:first-child td.value {
    border-top: 1px solid var(--text-color);
}

tr.block:last-child td.value {
    border-bottom: 1px solid var(--text-color);
}

td.value:nth-child(2) {
    border-left: 1px solid var(--text-color);
}

td.value:last-child {
    border-right: 1px solid var(--text-color);
}

.frame-start-primary {
    border-top: 1px solid var(--primary-frame) !important;
    border-right: 1px solid var(--primary-frame);
}

.frame-start {
    border-top: 1px solid var(--secondary-frame) !important;
    border-right: 1px solid var(--secondary-frame);
}

td.value.frame-start-primary ~ td.value {
    border-bottom: 1px solid var(--primary-frame);
}

td.value.frame-start ~ td.value {
    border-bottom: 1px solid var(--secondary-frame);
}

td.value.frame-boundary-primary {
    border-top: 1px solid var(--primary-frame) !important;
}

td.value.frame-boundary {
    border-top: 1px solid var(--secondary-frame) !important;
}

td.value.unscoped {
    color: var(--text-color-unscoped);
}

td.value.frame-data-primary {
    background-color: var(--primary-frame-bg);
}

td.value.frame-data-primary:nth-child(2) {
    border-left: 1px solid var(--primary-frame);
}

td.value.frame-data-primary:last-child {
    border-right: 1px solid var(--primary-frame);
}

td.value.frame-data {
    background-color: var(--secondary-frame-bg);
}

td.value.frame-data:nth-child(2) {
    border-left: 1px solid var(--secondary-frame);
}

td.value.frame-data:last-child {
    border-right: 1px solid var(--secondary-frame);
}

td.addr:hover, td.value:hover {
    color: var(--text-highlight);
}

td.value.text {
    background-color: var(--memory-bg-text);
}

td.value.data {
    background-color: var(--memory-bg-data);
}

td.value.bss {
    background-color: var(--memory-bg-bss);
}

td.value.instruction {
    background-color: var(--memory-bg-instruction);
}

table.popup > tr > td:first-child {
    padding-right: .5rem;
    text-align: right;
}
