.highlight {
    background-color: var(--memory-bg-instruction);
}

.name {
    text-align: right;
    font-weight: bold;
    padding-right: .5rem;
}

.name, .value {
    font-family: var(--monospace);
}

.value:hover {
    color: var(--text-highlight);
}

.value:hover > div {
    display: block;
}

.height-test {
    visibility: hidden;
    position: absolute;
}
