.register {
    text-align: right;
}

.highlight {
    background-color: var(--memory-bg-instruction);
}

.value {
    position: relative;
    left: 0;
    font-family: var(--monospace);
}

.value:hover {
    color: var(--text-highlight);
}

.value:hover > div {
    display: block;
}
